build
debug
dist
Sandbox/
**/nbproject/private/
.vs
obj
.pio
.vscode
.idea
*.elf
*.hex
*.lst
*.bin
*.map
minichlink/minichlink
minichlink/minichlink.so
compile_commands.json
.cache
ch32fun/generated_*.ld
**/.DS_Store
*_backup